<h1><%= @list.name %></h1>

<p>
  <%= link_to "Return to lists", lists_path %>
  <%= link_to "Edit", edit_list_path %>
  <%= link_to "Delete", list_path(@list),
                        :data => {:confirm => "You sure?",
                        :method => "delete"} %>

  <% if @list.tasks.any? %>
  <h4> Here is the list of tasks: </h4>
  <li>
    <%= @list.tasks.each do |task| %>
      <%= task.description %> |
       <%= link_to "Edit", edit_list_task_path %>
       <%= link_to "Delete", list_task_path(@list, task),
                              :data => {:confirm => "Are you serious?",
                                        :method => "delete"}%>
    <% end %>
  </li>
  <% else %>
  <h4>There is no Task, <%= link_to "click here", new_list_task_path(@list) %> </h4>
  <% end %>
</p>
